<!-- views/pages/logger.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
   <h1>Welcome <%= userName %> you currently have <%= userRoles %> privileges</h1> 

<main>
         
        <p><form action="/" method=GET><input type="submit" value="Log Out"></form></p>
        <% include ../partials/linkToAdd %>
    <br><br>
    <h2> Are you sure you want to delete:</h2>
    <br>
     <%= title %>
     <%= index %>
    <div class="judembotron">
     
    <form action="/delete/ <%= index %>" method=POST><input type="submit" value="Delete"></form>
    <form action="/loggerPost" method=GET><input type="submit" value="Cancel"></form></p>
    
        
    </div>
    
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>